<a href="https://colab.research.google.com/github/Thivadee19/Machine-Learning_Advance-Data-Analytic_Assignment-/blob/main/Thivadee_NLP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
data_df = pd.read_csv('https://raw.githubusercontent.com/niteen11/data301_predictive_analytics_machine_learning/main/data/imdb_labelled.txt', sep='\t',names=['message','class'])

In [ ]:
data_df.head()

                                             message  class
0  A very, very, very slow-moving, aimless movie ...      0
1  Not sure who was more lost - the flat characte...      0
2  Attempting artiness with black & white and cle...      0
3       Very little music or anything to speak of.        0
4  The best scene in the movie was when Gerardo i...      1

In [ ]:
data_df['message'][0]

'A very, very, very slow-moving, aimless movie about a distressed, drifting young man.  '

In [ ]:
data_df['message'][1]

'Not sure who was more lost - the flat characters or the audience, nearly half of whom walked out.  '

In [ ]:
len(data_df['message'][1])

99

In [ ]:
max(data_df['message'].apply(len))

7944

In [ ]:
data_df.shape

(748, 2)

In [ ]:
import string

In [ ]:
remove_punct = [char for char in data_df.message.iloc[0] if char not in string.punctuation]

In [ ]:
remove_punct = ''.join(remove_punct)

In [ ]:
remove_punct

'A very very very slowmoving aimless movie about a distressed drifting young man  '

In [ ]:
len(remove_punct)

81

In [ ]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [ ]:
from nltk.corpus import stopwords

In [ ]:
stopwords.words('english')[0:10]

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're"]

In [ ]:
remove_stopwords = [word for word in remove_punct.split() if word.lower() not in stopwords.words('english')]

# Remove Stopwards

In [ ]:
##Remove stopwards 
len(remove_stopwords)

7

In [ ]:
len(remove_punct)

81

# Process the Data

In [ ]:
def message_text_pre_process(text_message):
  remove_punct = [char for char in text_message if char not in string.punctuation]
  remove_punct = ''.join(remove_punct)
  remove_stopwords = [word for word in remove_punct.split() if word.lower() not in stopwords.words('english')]
  return remove_stopwords

In [ ]:
data_df['message'].head(10).apply(message_text_pre_process)

0    [slowmoving, aimless, movie, distressed, drift...
1    [sure, lost, flat, characters, audience, nearl...
2    [Attempting, artiness, black, white, clever, c...
3                     [little, music, anything, speak]
4    [best, scene, movie, Gerardo, trying, find, so...
5    [rest, movie, lacks, art, charm, meaning, empt...
6                                 [Wasted, two, hours]
7    [Saw, movie, today, thought, good, effort, goo...
8                                   [bit, predictable]
9    [Loved, casting, Jimmy, Buffet, science, teacher]
Name: message, dtype: object

In [ ]:
data_df.head()

                                             message  class
0  A very, very, very slow-moving, aimless movie ...      0
1  Not sure who was more lost - the flat characte...      0
2  Attempting artiness with black & white and cle...      0
3       Very little music or anything to speak of.        0
4  The best scene in the movie was when Gerardo i...      1

In [ ]:
data_df.shape

(748, 2)

# Vectorization

In [ ]:
##Vectorization
from sklearn.feature_extraction.text import CountVectorizer

In [ ]:
bag_of_words = CountVectorizer(analyzer=message_text_pre_process).fit(data_df['message'])

In [ ]:
bag_of_words_trf = bag_of_words.transform(data_df['message'])

# TF-IDF

In [ ]:
##TF-DIF
from sklearn.feature_extraction.text import TfidfTransformer

In [ ]:
tfidf_fit = TfidfTransformer().fit(bag_of_words_trf)

In [ ]:
tfidf_trf = tfidf_fit.transform(bag_of_words_trf)

# Model (Multinomial Naive Bayes)

In [ ]:
##Model Building
from sklearn.naive_bayes import MultinomialNB

In [ ]:
data_df.head()

                                             message  class
0  A very, very, very slow-moving, aimless movie ...      0
1  Not sure who was more lost - the flat characte...      0
2  Attempting artiness with black & white and cle...      0
3       Very little music or anything to speak of.        0
4  The best scene in the movie was when Gerardo i...      1

In [ ]:
spam_detector_model = MultinomialNB().fit(tfidf_trf,data_df['class'])

In [ ]:
test_message = data_df['message'][10]

In [ ]:
bag_of_words_test_message = bag_of_words.transform([test_message])

In [ ]:
tfidf_test_messsge = tfidf_fit.transform(bag_of_words_test_message)

In [ ]:
spam_detector_model.predict(tfidf_test_messsge)[0]

1

In [ ]:
data_df['class'][0]

0

In [ ]:
data_df.head()

                                             message  class
0  A very, very, very slow-moving, aimless movie ...      0
1  Not sure who was more lost - the flat characte...      0
2  Attempting artiness with black & white and cle...      0
3       Very little music or anything to speak of.        0
4  The best scene in the movie was when Gerardo i...      1

In [ ]:
prediction_for_all_messages = spam_detector_model.predict(tfidf_trf)

In [ ]:
from sklearn.metrics import classification_report

In [ ]:
print(classification_report(data_df['class'],prediction_for_all_messages))

              precision    recall  f1-score   support

           0       0.98      0.98      0.98       362
           1       0.98      0.98      0.98       386

    accuracy                           0.98       748
   macro avg       0.98      0.98      0.98       748
weighted avg       0.98      0.98      0.98       748